In [1]:
import pandas as pd
import numpy as np
csv_data_path = 'https://raw.githubusercontent.com/turingplanet/pandas-intro/main/public-datasets/small_survey_results.csv'
survey_df = pd.read_csv(csv_data_path)

In [4]:
survey_df['ConvertedComp']

0       53040.0
1      867480.0
2       65000.0
3           NaN
4           NaN
         ...
995     12312.0
996         NaN
997         NaN
998         NaN
999     10680.0
Name: ConvertedComp, Length: 1000, dtype: float64

In [9]:
survey_df['ConvertedComp'].median() #查看中位数

48000.0

In [10]:
survey_df['ConvertedComp'].count() #查看不为空的数目

517

In [11]:
survey_df.describe() #基本统计信息

        Respondent         Age     CompTotal   ConvertedComp  WorkWeekHrs
count   1000.00000  697.000000  5.170000e+02      517.000000   628.000000
mean   33125.63900   30.810617  3.567064e+06    85067.394584    40.547771
std    18973.33677    9.145613  5.058570e+07   142891.442494    13.103536
min       59.00000   13.000000  1.000000e+00        0.000000     3.000000
25%    16665.25000   24.000000  1.500000e+04    19800.000000    40.000000
50%    32890.00000   29.000000  5.600000e+04    48000.000000    40.000000
75%    50005.25000   36.000000  1.200000e+05    88068.000000    44.000000
max    65633.00000   67.000000  1.120000e+09  1000000.000000   160.000000

In [12]:
survey_df['Hobbyist']

0      Yes
1       No
2      Yes
3      Yes
4      Yes
      ...
995    Yes
996    Yes
997    Yes
998    Yes
999    Yes
Name: Hobbyist, Length: 1000, dtype: object

In [13]:
survey_df['Hobbyist'].count()

999

In [15]:
survey_df['Hobbyist'].value_counts() #每一类有多少个

Hobbyist
Yes    786
No     213
Name: count, dtype: int64

In [16]:
survey_df['OpSys']

0      Linux-based
1            MacOS
2      Linux-based
3          Windows
4            MacOS
          ...
995    Linux-based
996    Linux-based
997            NaN
998            NaN
999    Linux-based
Name: OpSys, Length: 1000, dtype: object

In [17]:
survey_df['OpSys'].value_counts()

OpSys
Windows        411
Linux-based    241
MacOS          199
BSD              2
Name: count, dtype: int64

In [19]:
survey_df['OpSys'].value_counts(normalize= True) #按百分比显示结果

OpSys
Windows        0.481829
Linux-based    0.282532
MacOS          0.233294
BSD            0.002345
Name: proportion, dtype: float64

# 分组Group By

In [20]:
survey_df['Country'].value_counts()

Country
United States                182
India                        141
Germany                       55
United Kingdom                52
Brazil                        36
                            ...
Congo, Republic of the...      1
Ghana                          1
Sierra Leone                   1
Malaysia                       1
Republic of Korea              1
Name: count, Length: 96, dtype: int64

In [21]:
country_groups = survey_df.groupby(['Country'])

In [26]:
country_groups.get_group('India')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
10,21032,I am a developer by profession,No,36.0,18,Monthly,45000.0,7536.0,India,Indian rupee,...,Easy,Appropriate in length,No,Web development or web design,ASP.NET;ASP.NET Core;Django;Flask,ASP.NET;jQuery,A lot more welcome now than last year,45.0,16,12
23,43119,I am a developer by profession,Yes,28.0,21,Monthly,32000.0,5364.0,India,Indian rupee,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Django,Flask,Just as welcome now as I felt last year,50.0,5,3
42,43229,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,51508,I am a developer by profession,Yes,NaN,18,Yearly,360000.0,5026.0,India,Indian rupee,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,75.0,10,Less than 1 year
49,44606,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core,Angular;ASP.NET Core;Flask,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957,6897,I am a developer by profession,No,22.0,10,Monthly,25000.0,4188.0,India,Indian rupee,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,Flask,Somewhat more welcome now than last year,54.0,12,2
958,63982,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,"Information systems, information technology, o...",NaN,NaN,NaN,NaN,NaN,NaN
971,6208,I am a developer by profession,No,NaN,15,Monthly,NaN,NaN,India,Indian rupee,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET;ASP.NET Core,Angular;ASP.NET;ASP.NET Core,A lot more welcome now than last year,40.0,10,3
984,47088,I am a developer by profession,No,NaN,16,Monthly,NaN,NaN,India,Indian rupee,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",jQuery,jQuery,Not applicable - I did not use Stack Overflow ...,NaN,6,Less than 1 year
992,63802,I am a developer by profession,Yes,NaN,20,Monthly,NaN,NaN,India,Indian rupee,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,3,2

In [30]:
 survey_df.isna()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,False,False,False,True,False,False,False,False,False,False,...,True,True,False,False,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,True,True,False,False,...,False,False,True,False,True,True,False,False,False,False
4,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
996,False,False,False,True,False,True,True,True,False,False,...,True,True,True,False,False,False,False,False,False,False
997,False,False,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
998,False,False,False,True,True,True,True,True,False,False,...,True,True,True,True,True,True,True,True,True,True
999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False